
html{
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}
input, button{
    outline: none;
}

a{
    text-decoration: none;
}

.dm--overflow--hidden{
    overflow: hidden!important;
}
.marl10 {
    margin: 0 10px 0 10px;
}
li {
    list-style: none;
}
.h105 {
    height: 105px;
}
.text-al-l{
    text-align: left;
}
.pl10 {
    padding-left: 10px;
}
.block {
    padding: 30px;
    text-align: center;
    // border-right: 1px solid #eff2f6;
    display: block;
    width: 100%;
    box-sizing: border-box;
}