@font-face {
    font-family: 'iconfont';  
    src: url('//at.alicdn.com/t/font_510640_ae3sn9b3kl.eot');
    src: url('//at.alicdn.com/t/font_510640_ae3sn9b3kl.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_510640_ae3sn9b3kl.woff') format('woff'),
    url('//at.alicdn.com/t/font_510640_ae3sn9b3kl.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_510640_ae3sn9b3kl.svg#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
[class^="dm__icon--"], [class*=" dm__icon--"]  {
    font-family:"iconfont" !important;
    font-size:$font-size-base;
    font-style:normal;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    
}

.dm__icon--nochecked:before { content: "\e668"; }
.dm__icon--checked:before { content: "\e730"; }

.dm__icon--radio:before { content: "\e6da"; }
.dm__icon--hor-radio:before { content: "\e680"; }
.dm__icon--hor-radio-check:before { content: "\e62b"; }

.dm__icon--phone:before { content: "\e61e"; }

.dm__icon--search:before { content: "\e651"; }

.dm__icon--close-outline:before { content: "\e66e"; }
.dm__icon--close:before { content: "\e627"; }

.dm__icon--homefill:before { content: "\e750"; }
.dm__icon--home:before { content: "\e751"; }

.dm__icon--myfill:before { content: "\e75d"; }
.dm__icon--my:before { content: "\e75e"; }

.dm__icon--userfill:before { content: "\e787"; }
.dm__icon--user:before { content: "\e788"; }

.dm__icon--contact:before { content: "\e6c2"; }

.dm__icon--link:before { content: "\e646"; }

.dm__icon--lock:before { content: "\e6c0"; }
.dm__icon--unlock:before { content: "\e6c3"; }

.dm__icon--like:before { content: "\e6a1"; }
.dm__icon--likefill:before { content: "\e60b"; }

.dm__icon--date:before { content: "\e613"; }

.dm__icon--reduce-outline:before { content: "\e729"; }
.dm__icon--add-outline:before { content: "\e727"; }

.dm__icon--reduce:before { content: "\e68e"; }
.dm__icon--add:before { content: "\e67e"; }

.dm__icon--edit:before { content: "\e64b"; }
.dm__icon--delete:before { content: "\e68c"; }

.dm__icon--photodel:before { content: "\e712"; }
.dm__icon--photo:before { content: "\e663"; }

.dm__icon--lbs:before { content: "\e60f"; }

.dm__icon--msg:before { content: "\e763"; }
.dm__icon--msgfill:before { content: "\e762"; }

.dm__icon--menu:before { content: "\e790"; }
.dm__icon--menumore:before { content: "\e78d"; }

.dm__icon--tips:before { content: "\e653"; }

.dm__icon--refresh:before { content: "\e782"; }

.dm__icon--share:before { content: "\e628"; }

.dm__icon--totop:before { content: "\e64e"; }

.dm__icon--attachment:before { content: "\e60c"; }

.dm__icon--emoji:before { content: "\e64a"; }

.dm__icon--qrcode:before { content: "\e642"; }
.dm__icon--scan:before { content: "\e62e"; }
.dm__icon--mall:before { content: "\e63f"; }
.dm__icon--filter:before { content: "\e74a"; }
.dm__icon--sort:before { content: "\e62f"; }

.dm__icon--loading{ animation: spin 1250ms linear infinite;}
.dm__icon--loading:before { content: "\e69d";}

.dm__icon--left:before { content: "\e681"; }
.dm__icon--right:before { content: "\e687"; }
.dm__icon--up:before { content: "\e67f"; }
.dm__icon--down:before { content: "\e601"; }

.dm__icon--kb-del:before { content: "\e629"; }
.dm__icon--kb-hide:before { content: "\e644"; }