.distpicker-address-wrapper {
    color: #9caebf;
    select {
      // padding: .5rem .75rem;
      height: 40px;
      font-size: 1rem;
      line-height: 1.25;
      color: #464a4c;
      background-color: #fff;
      background-image: none;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: .25rem;
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  
      option {
        font-weight: normal;
        display: block;
        white-space: pre;
        min-height: 1.2em;
        padding: 0px 2px 1px;
      }
      &:focus{outline:0;border-color:#409EFF}
    }
    ul {
      margin: 0;
      padding: 0;
  
      li {
        list-style: none;
      }
    }
    .address-header {
      background-color: #fff;
  
      ul {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
  
        li {
          display: inline-block;
          padding: 10px 10px 7px;
  
          &.active {
            border-bottom: #52697f solid 3px;
            color: #52697f;
          }
        }
      }
    }
    .address-container {
      background-color: #fff;
      height: 10rem;
      ul {
        height: 100%;
        overflow: auto;
        /*修改滚动条样式*/
        &::-webkit-scrollbar{
          width:0px;
          height:10px;
          /**/
        }
        &::-webkit-scrollbar-track{
          background: rgb(239, 239, 239);
          border-radius:2px;
        }
        &::-webkit-scrollbar-thumb{
          background: #bfbfbf;
          border-radius:10px;
        }
        &::-webkit-scrollbar-thumb:hover{
          background: #333;
        }
        &::-webkit-scrollbar-corner{
          background: #179a16;
        }
        li {
          padding: 8px 10px;
          border-top: 1px solid #f6f6f6;
  
          &.active {
            color: #52697f;
          }
        }
      }
    }
  }
  .disabled-color{
      background: #f8f8f8;
  }