.dm-carousel__item,
.dm-carousel__mask {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0
}

.dm-carousel__item {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    z-index: 0
}

.dm-carousel__item.is-active {
    z-index: 2
}

.dm-carousel__item.is-animating {
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out
}

.dm-carousel__item--card {
    width: 50%;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out
}

.dm-carousel__item--card.is-in-stage {
    cursor: pointer;
    z-index: 1
}

.dm-carousel__item--card.is-in-stage.is-hover .dm-carousel__mask,
.dm-carousel__item--card.is-in-stage:hover .dm-carousel__mask {
    opacity: .12
}

.dm-carousel__item--card.is-active {
    z-index: 2
}

.dm-carousel__mask {
    width: 100%;
    background-color: #FFF;
    opacity: .24;
    -webkit-transition: .2s;
    transition: .2s
}